.step-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plan-selector-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.plan-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    min-width: 138px;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 1em;
    padding: 1em;
}

.plan-info{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.plan-info .plan-title{
    margin: 0;
    color: hsl(213, 96%, 18%) ;
    font-weight: 700;
}

.plan-info .amount{
    margin: 0;
    color: hsl(231, 11%, 63%) ;
    font-size: .9rem;
    font-weight: 500;
}

.plan-info .offer{
    margin: 0;
    display: none;
    color: hsl(213,96%,18%);
    font-size: .8rem;
    font-weight: 500;
}

.payment-selector-container{
    background: hsl(217, 100%, 97%);
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.monthly{
    color:hsl(231, 11%, 63%);
    font-weight: 500;
}

.yearly{
    color:hsl(213, 96%, 18%);
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

.buttons-container{
    display: none;
    
}

@media screen and (min-width:860px) {
    .plan-selector-container{
        flex-direction: row;
    }
    .plan-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .plan-info .offer{
        display: initial;
        
    }

    .buttons-container{
        display: flex;
        justify-content: space-between;
    }
}