.step-card{
    min-height: 373px;
    
}
.step-card .card-title, .step-card label{
    margin-top: 0;
    color: hsl(213, 96%, 18%);
    
}

.step-card .step-card-info{
    color: hsl(231, 11%, 63%);
}

.step-card .form{
    
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.step-card .form input{
    height: 40px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
    padding: 1em;
}

.step-card .form input::placeholder{
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}


@media screen and (min-width:550px) {
    .steps-cards-container{
    position: initial;
    }
}